In [3]:
import pandas as pd
import numpy as np

In [10]:
data = pd.read_csv(
    "./input.txt",
    sep="   ",
    header=None,
    engine="python"
)

In [11]:
data = np.fromstring(

         0      1
0    77710  11556
1    22632  23674
2    82229  77288
3    35788  30924
4    84000  63702
..     ...    ...
995  29947  39341
996  21459  97910
997  22063  15281
998  63297  43457
999  42167  11247

[1000 rows x 2 columns]